.edgeInferences {
  .searchWrap {
    float: right;
    :global {
      .ant-input-search .ant-input-wrapper,
      .ant-select {
        width: 250px;
        margin-right: 16px;
      }
      .ant-select {
        margin-right: 16px;
      }
      .ant-input-group-wrapper {
        width: inherit;
      }
    }
  }
}

:global {
  .inferenceModal {
    .ant-form-item-label > label {
      width: 100px;
    }
  }
  .settingModal {
    .ant-form-item-label > label {
      width: 80px;
    }
  }
  .speItem {
    :global {
      .ant-form-item-explain {
        word-break: break-all;
        width: 226px;
      }
    }
  }
}
