.edgeInferences {
  :global {
    .ant-input-search, .ant-select {
      width: 250px;
      float: right;
    }
    .ant-select {
      margin-right: 10px;
    }
  }
}

:global {
  .inferenceModal {
    .ant-form-item-label > label {
      width: 100px;
    }
  }
  .settingModal {
    .ant-form-item-label > label {
      width: 80px;
    }
  }
}