.modelTraining {
  margin-top: 50px;
}
.addParams {
  cursor: pointer;
}

.required::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.modelDetail {
  .topButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.logs {
  border: 1px solid #eee;
  background-color: #fff;
  max-height: 800px;
  overflow: auto;
  padding-left: 15px;
}
.addParams {
  width: 180px;
}

.searchWrap {
  float: right;
  margin-bottom: 24px;
  margin-right: 24px;
  :global {
    .ant-input-search .ant-input-wrapper {
      width: 300px;
      margin-right: 16px;
    }
    .ant-input-group-wrapper {
      width: inherit;
    }
  }
}