.aaa {
  width: 100px;
  height: 500px;
  display: inline-block;
  background-color: red;
  margin-left: 300px;
  // cursor: move !important;
}
.bbb {
  width: 100px;
  height: 500px;
  display: inline-block;
  background-color: black;
  margin-left: 100px;
  // cursor: move !important;
}
.noCur {
  // cursor: no-drop !important;
}