.avisualisDetailWrap {
  min-width: 1500px !important;
  height: 1000px;
  white-space: nowrap;
  // overflow-x: auto;
  // overflow-y: hidden;
  :global {
    .ant-card {
      display: inline-block;
      height: 1000px;
      width: 330px;
      vertical-align: top;
      background: #f8f8f8;
      overflow-y: auto;
      .ant-card-body {
        padding: 24px 16px;
        // height: calc(~'100vh - 100px');
      }
    }
    .ant-tree {
      background: #f8f8f8;
      .ant-tree-title {
        font-size: 18px;
        margin-left: 8px;
      }
      .ant-tree-treenode-disabled .ant-tree-title {
        color: #1890ff !important;
        font-weight: bold;
      }
      .ant-tree-switcher svg {
        font-size: 16px;
        vertical-align: sub;
      }
      .ant-tree-iconEle svg {
        font-size: 24px;
      }
    }
    .treeCard .ant-card-body {
      padding: 24px 16px 24px 0;
    }
  }
}
